p {
  margin: 0;
}

.login .logout .btn {
  margin-left: 10px;
}

a {
  color: white;
}

.tt {
  color: white;
}

.form-control {
  resize: none;
}

.card-img .cards-img {
  object-fit: cover;
  height: 200px;
}
