p {
  margin: 0;
}

.login .logout .btn {
  margin-left: 10px;
}

a {
  color: white;
}

.tt {
  color: white;
}

.form-control {
  resize: none;
}

.carousel-inner img {
  max-width: 50vw;
  width: 50vw;
  height: 50vh;
  margin: auto;
  object-fit: cover;
}

.header-container {
  border-bottom: black solid 2px;
}

.login-form {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.login-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input {
  max-width: 25vw;
}

.login-header {
  text-align: center;
}

.list {
  max-width: 95vw;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  margin: 0;
}

.accordion-button {
  padding: 0;
}

.inline-span {
  display: inline-flex;
}

.entry {
  display: flex;
}

.home-card {
  text-align: center;
}

/* .entry--image {
  order: 1;
}

.entry--detail {
  order: 2;
  @media only screen and (min-width: 600px) {
    order: 0;
  }
} */
